body {
    margin: 10px;
}

nav {
    background-color: rgb(234, 208, 188);
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 2px solid black;
    padding: 8px;
}

footer {
    background-color: rgb(234, 208, 188);
    border-top: 2px solid black;
    height: 20px;
    display: flex;
    justify-content: center;
}

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash p:first-child {
    margin-bottom: 0; 
}

.splash p:last-child {
    margin-top: 0; 
}

.symbol {
    font-size: 0.8em;
}

h1 {
    color: 424242;
    font-family: "Baskervville SC", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 36px;
}

img {
    border: 2px solid black;
}

.baskervville {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    border-top: solid black;
    width: 35%;
}

h2 {
    color: 424242;
    font-family: "Baskervville SC", serif;
    font-weight: bold;
    font-style: normal;
}
  
ul {
    list-style-type: square;
}

dl {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}

a {
    color: rgb(117, 77, 49);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 1fr; 
    gap: 20px; 
    padding: 10px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ddd; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a shadow effect */
    border-radius: 5px; 
}

.one-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    gap: 10px;
}

form {
    display: flex;
    align-items: left;
}

input {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}